html,
body {
  margin: 0;
  height: 100%;
  color: white;
  background: black;
}

#root {
  height: 100%;
}

#root * {
  box-sizing: border-box;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
